  <footer class="l-footer">
    <div class="l-footer__inner">
      <ul class="l-footer__list u-mb-50">
        <li>
          <dl class="l-footer__item">
            <dt>TEL</dt>
            <dd>
              <a href="">0467-81-3059</a>
            </dd>
          </dl>
        </li>
        <li>
          <dl class="l-footer__item">
            <dt>MAIL</dt>
            <dd>
              <a target="_blank" href="">info@bnote.biz</a>
            </dd>
          </dl>
        </li>
        <li>
          <div class="l-footer__item">
            <p>LINK</p>
            <ul class="l-footer__sns">
              <li>
                <a href="" target="_blank">
                  <img src="/assets/images/instagram@2x.png" alt="instagram">
                </a>
              </li>
              <li>
                <a href="" target="_blank">
                  <img src="/assets/images/wantedly@2x.png" alt="wantedly">
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <p class="l-footer__catch">©︎ 2019 bnote co.,ltd</p>
    </div>
  </footer>
</div><!-- l-wrap -->
</body>
</html>