<!-- PC -->
<header class="l-header u-hidden-sp">
  <figure class="l-header__logo">
    <a href="/">
      <img src="/assets/images/homelogo.png" alt="企業ロゴ">
    </a>
  </figure>
  <nav class="l-header__nav">
    <ul id="js-headerNav">
      <li class="l-header__listItem l-header__listItem--home">
        <a href="/">HOME</a>
      </li>
      <li class="l-header__listItem l-header__listItem--company">
        <a href="/company/">COMPANY</a>
      </li>
      <li class="l-header__listItem l-header__listItem--business">
        <a href="/business/">BUSINESS</a>
      </li>
      <li class="l-header__listItem l-header__listItem--career u-header__active">
        <a href="/career/">CAREER</a>
      </li>
    </ul>
  </nav>
</header>
<!-- SP -->
<header class="l-spHeader u-hidden-pc">
  <div id="js-spBaseMenu" class="l-spHeader__baseMenu">
    <ul class="l-spHeader__top">
      <li>
        <a href="/">
          <img src="/assets/images/b_notelogo.png" alt="企業ロゴ">
        </a>
      </li>
      <li id="js-fadeInBtn">
        <a href="#">
          <ul class="l-spHeader__menu">
            <li>menu</li>
            <li>
              <span class="l-spHeader__bar"></span>
              <span class="l-spHeader__bar"></span>
              <span class="l-spHeader__bar"></span>
            </li>
          </ul>
        </a>
      </li>
    </ul>
  </div>
  <div id="js-spFadeMenu" class="l-spHeader__fadeMenu">
    <ul class="l-spHeader__top">
      <li>
        <a href="/">
          <img src="" alt="企業ロゴ">
        </a>
      </li>
      <li id="js-fadeOutBtn">
        <a href="#">
          <ul class="l-spHeader__menu">
            <li>BACK</li>
            <li>
              <span class="l-spHeader__bar"></span>
            </li>
          </ul>
        </a>
      </li>
    </ul>
    <ul class="l-spHeader__content">
      <li class="u-mb-50-sp l-spHeader__contentItem l-spHeader__contentItem--home" style="left: 0px; opacity: 1;">
        <a href="/">HOME</a>
      </li>
      <li class="u-mb-50-sp l-spHeader__contentItem l-spHeader__contentItem--company" style="left: 0px; opacity: 1;">
        <a href="/company/">COMPANY</a>
      </li>
      <li class="u-mb-50-sp l-spHeader__contentItem l-spHeader__contentItem--business" style="left: 0px; opacity: 1;">
        <a href="/business/">BUSINESS</a>
      </li>
      <li class="u-mb-50-sp l-spHeader__contentItem l-spHeader__contentItem--career" style="left: 0px; opacity: 1;">
        <a href="/career/">CAREER</a>
      </li>
    </ul>
  </div>
</header>