.p-formBtn {
  cursor: pointer;
  width: 67px;
  height: 42px;
  display: block;
  margin: 0 auto;
  background-color: #eee;
  line-height: 42px!important;
  text-align: center;
  border: none;
  opacity: 1;
}