@media print, screen and (min-width: 769px) {
  .p-irikichiImgList__img--01 {
    width: 130px;
    top: 0;
    left: 170px;
  }
  .p-irikichiImgList__img--02 {
    width: 240px;
    top: 108px;
    left: 320px;
  }
}

