@media print, screen and (min-width: 769px) {
  .p-irohaImgList__top--01 {
    width: 124px;
    top: 144px;
    left: 135px;
  }
  .p-irohaImgList__top--02 {
    width: 180px;
    top: 0;
    left: 175px;
  }
  .p-irohaImgList__top--03{
    width: 200px;
    top: 105px;
    left: 385px;
  }
}

