@media print, screen and (min-width: 769px) {
  .p-kogateiImgList--top__img--01 {
    width: 124px; 
    top: 124px;
    left: 135px;
  }
  .p-kogateiImgList--top__img--02 {
    width: 180px; 
    top: 0;
    left: 175px;
  }
  .p-kogateiImgList--top__img--03 {
    width: 200px; 
    top: 105px;
    left: 385px;
  }
  .p-kogateiImgList--bottom__img--01 {
    width: 269px; 
    top: 0;
    left: -190px;
    z-index: 5;
  }
  .p-kogateiImgList--bottom__img--02 {
    width: 180px; 
    top: 193px;
    left: -140px;
  }
  .p-kogateiImgList--bottom__img--03 {
    width: 170px; 
    top: 40px;
    left: 60px;
  }
  .p-kogateiImgList--bottom__img--04 {
    width: 150px; 
    top: 16px;
    left: 257px;
  }
  .p-kogateiImgList--bottom__img--05 {
    width: 113px; 
    top: 136px;
    left: 277px;
  }
}