@media print, screen and (min-width: 769px) {
  .p-sashimaImgList__img--01 {
    width: 270px;
    top: 0;
    left: 320px;
  }
  .p-sashimaImgList__img--02 {
    width: 208px;
    top: 140px;
    left: 170px;
  }
  .p-sashimaImgList__img--03 {
    width: 110px;
    top: 140px;
    left: 428px;
  }
}