@media print, screen and (min-width: 769px) {
  .p-ukishimaImgList__img--01 {
    width: 180px;
    top: 0;
    left: 170px;
  }
  .p-ukishimaImgList__img--02 {
    width: 200px;
    top: 30px;
    left: 390px;
  }
  .p-ukishimaImgList__img--03 {
    width: 300px;
    top: 260px;
    left: 190px;
  }
}