<% var title = "TOP"; var description = "トップのdescription"; %> <% include
src/ejs/template/_head %>
<div class="l-wrap__inner">
  <div class="l-main__wrapper l-main__container">
    <div id="js-line">
      <div class="l-line l-lineRight" style="min-height: 30px; height: 2633px;"></div>
      <div class="l-line l-lineLeft" style="min-height: 30px; height: 2633px;"></div>
    </div>
    <figure id="js-arrow" class="l-arrow rellax u-hidden-sp" data-rellax-speed="3" style="transform: translate3d(0px, -1px, 0px); ">
      <img src="" alt="arrow">
    </figure>
<% include src/ejs/template/_header %>
  </div>
</div>

<% include src/ejs/template/_footer %>
