.u-hidden-sp {
  @include mq(u-sp) {
    display: none !important;
  }
}
.u-hidden-pc {
  @include mq(u-pc) {
    display: none !important;
  }
}

.u-mb-10 { margin-bottom: 10px !important; }

.u-fs-13 {
  line-height: 1.69;
  font-size: 13px;
  letter-spacing: 2.6px;
}

.u-header__active {
  opacity: 1!important;
}

@media print, screen and (max-width: 768px) {
  .u-hidden-sp {
    display: none !important;
  }
  .u-mb-50-sp {
    margin-bottom: 50px;
  }
}

@media print, screen and (min-width: 769px) {
  .u-hidden-pc {
    display: none !important;
  }
}
