.u-hidden-sp {
  @include mq(u-sp) {
    display: none !important;
  }
}
.u-hidden-pc {
  @include mq(u-pc) {
    display: none !important;
  }
}

.u-mb-10 { margin-bottom: 10px !important; }

.u-pw-2 {
  padding: 0 2px;
}

.u-fs-20 {
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: 200;
  color:#888;
}

.u-fs-22 {
  font-size: 22px;
  line-height: 2;
  letter-spacing: 5px;
  color: #888;
}

.u-fs-13 {
  line-height: 1.69;
  font-size: 13px;
  letter-spacing: 2.6px;
}

.u-fs-30 {
  font-size: 30px;
  letter-spacing: 6px;
  color: #888;
  font-weight: 100;
}

.u-fs-10 {
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 300;
}

.u-fs-12 {
  font-family: Roboto Condensed,Hiragino Sans,ヒラギノ角ゴシック,Hiragino Kaku Gothic ProN,ヒラギノ角ゴ ProN W3,Roboto,Droid Sans,YuGothic,游ゴシック,Meiryo,メイリオ,Verdana,ＭＳ Ｐゴシック,sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 300;
  line-height: 2.5;
}

.u-ls--2 {
  letter-spacing: -2px;
}


.u-fade-up {
  position: relative;
  top: 50px;
}

.u-fadeIn-active {
  top: 8px!important;
}

.u-header__active {
  opacity: 1!important;
}

@media print, screen and (max-width: 768px) {
  .u-hidden-sp {
    display: none !important;
  }
  .u-mb-25-sp {
    margin-bottom: 25px;
  }
  .u-mb-30-sp {
    margin-bottom: 30px;
  }
  .u-mb-40-sp {
    margin-bottom: 40px;
  }
  .u-mb-50-sp {
    margin-bottom: 50px;
  }
  .u-mb-80-sp {
    margin-bottom: 80px;
  }
  .u-mb-100-sp {
    margin-bottom: 100px;
  }
  .u-mb-140-sp {
    margin-bottom: 140px;
  }
  .u-mb-124-sp {
    margin-bottom: 124px;
  }
  .u-mb-95-sp {
    margin-bottom: 95px;
  }
  .u-mb-90-sp {
    margin-bottom: 90px;
  }  
  .u-mb-350-sp {
    margin-bottom: 350px;
  }
}

@media print, screen and (min-width: 769px) {
  .u-hidden-pc {
    display: none !important;
  }

  .u-mb-185 {
    margin-bottom: 185px;
  }

  .u-mb-195 {
    margin-bottom: 195px;
  }

  .u-mb-80 {
    margin-bottom: 80px;
  }

  .u-mb-50 {
    margin-bottom: 50px;
  }

  .u-mb-100 {
    margin-bottom: 100px;
  }

  .u-mb-30 {
    margin-bottom: 30px;
  }

  .u-mb-114 {
    margin-bottom: 114px;
  }

  .u-mb-260 {
    margin-bottom: 260px;
  }

  .u-mb-8 {
    margin-bottom: 8px;
  }

    .u-mb-20 {
    margin-bottom: 20px;
  }

}
